.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: $sans-serif;
    @include tablet{
      display: grid;
      grid-template-rows: auto;
    }
  
  &__input{
    align-self: center;
    border: none;
    border-bottom: 5px solid $highlight;
    margin-bottom: 25px;
    width: 90%;
    padding-left: 1em;
      
    @include tablet{
      width: 85%;
      margin-left: auto;
      margin-right: auto;
    }
  }  
}

label{
  display: none;
}

