.container{
  font-family: $sans-serif;
}

.link{
  text-decoration: none;
  color: $Default;
  font-weight:700;
}

a.link{
  width: 250px;
}

.blockquote{
  font-family: 'Cantarell';
  font-size: 20px;
  font-style: italic;
  border-left: 8px solid $highlight;
  padding-left: 10px;
  margin-bottom: 50px;
  color: $text;
 }

.headline{

  &--primary{
    font-family: $sans-serif;
    font-size: 20px;
    color: $highlight;
    padding-left: 1em;
      @include tablet{
        margin-left: 1.2em;
      }
      @include desktop{
        font-size: 1.5em;
      } 
    
    + p{
        padding: 0 1em;
    }
  }

  &--secondary{
    display: flex;
    padding: 3em 0 0 1em;
    margin-top: 0;
    font-family: $sans-serif;
    font-size: 14px;
    font-weight:300;
    @include desktop{
      font-size: 1.25em;
  
    } 
  }
}

